@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-mukta: var(--font-mukta);
}

body {
  background-color: #090909;
}
